p {
  font-size: small;
}

b {
  font-size: smaller;
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currency-total {
  font-size: larger;
  font-weight: 700;
}

.landing-main {
  display: flex;
  justify-content: center;
}

.landing-main-form button {
  margin-top: 10px;
  float: right;
}

.order-header, .landing-header {
  display: flex;
  background-color: beige;
  height: 7rem;
}

.title {
  flex: 1;
  margin: 20px;
}

.basket-button {
  display: flex;
  align-items: center;
  width: 100px;
}

.basket-button button {
  width: 100%;
  height: 50%;
  margin: 10px;
}

.products {
  display: flex;
  height: 550px;
  margin: 1.5%;
}

.products-disabled {
  pointer-events: none;
  display: flex;
  height: 500px;
  opacity: 0.4;
}

.product {
  position:relative;
  flex: 1;
  margin: 0.7%;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.product-selected {
  position: relative;
  flex: 1;
  width: auto;
  margin: 0.65%;
  border: 2.5px solid black;
  background-color: lightgrey;
  border-radius: 12px;
}

.product:hover {
  background-color: lightgrey;
}

.product-description {
  padding: 20px 10px 20px 10px;
}

.product-description .emoji {
  font-size: large;
  float: right;
}

.product-image {
  max-width: 100%;
  position: relative;
  height: auto;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-image-index p {
  position: absolute;
  right: 18px;
  color: white;
  font-size: large;
  float: right;

}

.product-image-index .emoji {
  position: absolute;
  top: 16px;
  right: 18px;
  color: white;
  font-size: large;
  float: right;
} 

.product-rating {
  position: absolute;
  bottom: 10px;
  left: 10px;

}

.price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  float: right;
}

.navigation-products {
  background-color: beige;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;

}

.navigation-buttons {
  flex: 1;
  margin: 10px 0 0 10px;
  text-align: start;
  
}

.navigation-buttons button {
  height: 50%;
  width: 100px;
  margin: 10px;
}

.navigation-pages {
  text-align: center;
  flex: 1;
}

.navigation-total {
  flex: 1;
  text-align: end;
  margin-right: 15px;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .products {
    display: flex;
    flex-direction: column;
  }

  .product {
    margin: 5%
  }

  .product-selected {
    margin: 5%;
  }

  .product-image {
    height: 400px;
  }

  .order-main {
    height: 100%;
    overflow: auto;
  }
  .navigation-products {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

}

@media (max-width: 770px) {
  .navigation-buttons button {
    width: 35%;
  }

  h4 {
    font-size: small;
  }
}